.restartbutton {
  height: 60px;
  width: 322px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: blue;
  background-color: yellowgreen;
}

.OKbutton {
  height: 40px;
  width: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: blue;
  background-color: yellowgreen;
}
.gameboard {
  width: 220px;
  height: 240px;
}

.game {
  display: flex;
  flex-direction: right;
  width: 500px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: relative;
  left: 50px;
  width: 240px;
  top: 150px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: white;
}
.names {
  font-size: xx-large;
  float: top;
  height: 35px;
  border-color: blue;
  width: 200px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
}

.fakebutton:hover {
  color: red;
}

.link {
  text-decoration: "none";
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: blue;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square2 {
  background: green;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square3 {
  background: red;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.game-info {
  display: block; /* Make the buttons appear below each other */
  margin-top: 16px;
}

.game-info button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.game-info:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.playersform {
  background: rgb(160, 135, 67);
  border: 1px solid #999;
  font-size: 20px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.bluebox {
  background: blue;
  border: 1px solid #999;
  font-size: 20px;
  font-weight: bold;
  line-height: 69px;
  height: 69px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.greenbox {
  background: green;
  border: 1px solid #999;
  font-size: 20px;
  font-weight: bold;
  line-height: 69px;
  height: 69px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.undobutton {
  background: rgb(160, 135, 67);
  border: 1px solid #999;
  font-size: 20px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}
.forrm {
  float: left;
}

.formID {
  margin-left: 15px;
}
.formPW {
  margin-left: 7px;
}

.littleundo {
  background: #3a64b0;
  border: 1px solid #999;
  font-size: 10px;
  line-height: 21.5px;
  height: 21.5px;
  margin-right: -1px;
  margin-top: 0px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: white;
}

.game-info {
  margin-left: 20px;
}

.nbutton {
  height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: blue;
  font-size: 15px;
  background-color: yellowgreen;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.Home {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid #999;
}
