.buttonReg {
  font-size: xx-large;
  float: top;
  height: 35px;
  border-color: blue;
}

.SubmitReg {
  height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: blue;
  background-color: yellowgreen;
}
.inputsReg {
  width: 50px;
  color: tomato;
}
